region         = "nl-ams"
tem_domain     = "contact.sebastian-heitmann.dev"
mail_recipient = "you@example.com"
mail_sender    = "contact@contact.sebastian-heitmann.dev"
allowed_origins = "https://www.sebastian-heitmann.dev,https://sebastian-heitmann.dev"
