---
import CTA from './interactive/call-to-action.astro';
---

<nav class="nav" role="navigation" aria-label="Main Navigation">
    <a class="nav-logo" href="/">sebastian-heitmann.dev</a>
    <div class="nav-links">
        <a class="nav-link" href="#cases">Cases</a>
        <a class="nav-link" href="#services">My Services</a>
        <a class="nav-link" href="#plans">Plans</a>
        <a class="nav-link" href="#why-me">Why Me?</a>
        <CTA link="/contact" type="primary">Contact</CTA>
    </div>
</nav>

<style lang="scss">

    :root {
        --nav-logo-font-size: 2.25rem;
        --nav-logo-font-weight: 700;
        --nav-logo-color: var(--clr-white);
    }

    .nav {
        margin-top: 3.75rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3.25rem;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;

        &-logo {
            flex-shrink: 0;
            text-decoration: none;
            font-family: var(--fnt-family-secondary);
            font-size: var(--nav-logo-font-size);
            line-height: 1;
            font-weight: var(--nav-logo-font-weight);
            color: var(--nav-logo-color);
        }

        &-links {
            width: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2.25rem;
        }

        &-link {
            flex-shrink: 0;
            text-decoration: none;
            font-family: var(--fnt-family-accent);
            font-size: 1.5rem;
            line-height: 1;
            font-weight: 400;
            color: var(--clr-font-primary);
        }

    }
</style>
