---
import Typewriter from './copy/typewriter.astro';
---
<section class="use-cases">
    
</section>

<style lang="scss">

    .container {
        max-width: 400px;
        margin: 0 auto;
    }

    .use-cases {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>

