---
import Typewriter from './copy/typewriter.astro';
---
<section class="use-cases">
    <div class="container">
        <Typewriter text="Use Cases this is a very long sentence that I can use to test the capabilities of the typewriter" as="h2" />
    </div>
    <div class="container">
        <h2>Success Stories</h2>
        <div class="mosaic">
            <div class="mosaic-item">
                <img src="/images/success-story-1.jpg" alt="Success Story 1">
            </div>
        </div>
    </div>
</section>

<style lang="scss">

    .container {
        margin: 200px;
        height: fit-content;
    }

    .use-cases {
        background-color: #111222;
        padding-top: 100px;
        padding-bottom: 100px;;
    }
</style>

